html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(http://robertnilssonfoto.files.wordpress.com/2017/09/kx_0032.jpg?w=1092) no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.heading {
    margin-top: -20px;
    top: 50%;
    position: absolute;
    width: 100%;
}

.heading h1 {
   font-weight: bold;
   font-size: 30px;
   text-align: center; 
   text-transform: uppercase;
   color: #FFFFFF;
   text-shadow: 5px 5px 5px rgba(0,0,0,0.07);  
}

.logo {
    padding: 30px;
    position: relative;
}

@media all and (min-width: 700px){
    .heading h1 {
    font-size: 90px;
    }
}
