<!DOCTYPE html>
<html>
<head>
    <!--
      This section just sets up some metadata for the website.

      It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    {{ partial "head_includes.html" . }}
</head>
 <body>
    <div class="logo"><img src="http://www.kalix.se/link/682867031d134e4ab02accb93a278492.aspx?id=8401&epslanguage=sv" alt="" /></div>
    <div class="heading">
        <h1>Var en gång en bro....</h1>
        <br>
        <div class="center-block" style="max-width:50px">
            <a href="https://riot.im/app/#/room/#kalix:matrix.org" class="btn btn-default">Gå över bron!</a>
        </div>
    </div>


{{ partial "footer.html" . }}
